server:
  port: 9000
spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:postgresql://localhost:5432/MedicalCareSys
    username: postgres
    password: 12345
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        event:
          merge:
            entity_copy_observer: allow

  rabbitmq:
    addresses: localhost:5672
    adminAddresses: http://localhost:15672
    username: admin
    password: 123456